body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
}

a
{
	text-decoration: none;
}

.friendImg
{
	float: left;
	margin-right: 10px;
}

.friendposts
{
	color: white;
	padding: 10px;
}

.allfriends
{
	background-color: #009d91;
	color: white;
	margin: 10px;
	padding: 1px 10px 10px 10px;
}

.singlefriend
{
	height: 60px;
}

.singlePost
{

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 30px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 30px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 30px;
	border-bottom-right-radius: 0;	
	border-bottom-left-radius: 0;	

	background-color: #6c0aab;
	color: white;
	border: 1px solid black;
	padding: 5px 15px;
	margin: 10px 10px 5px 10px;
	height: auto;
}

.spLeft
{
	position: relative;
	float: left;
	width: 80px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	opacity: 0.5;
}

.spRight
{

}

.fbPost
{
	padding: 5px;
	background-color: #EDEFF4;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 1.28;
	text-align: center;
	direction: ltr;
	max-height: 208px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.fbName
{
	color: #3b5998;
}

.fbCaption
{
	color: gray;
}

.fbDescription
{
	color: gray;
	margin-top: 3px;
}